@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes reverse-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}



::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
  }

.react-audio-player audio {
  background-color: aqua;
}